<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Cloud Assignment App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

           <div class="jumbotron">
            <center><h1>Picture Sharing App</h1></center>
               <h2>Please Login:</h2>
            <form action="/decider" method="post">
            Username<br>
            <input type="text" name="firstname" required><br>
                <input type="radio" name="view" value="view" required> View<br>
                <input type="radio" name="view" value="upload"> Create / Modify<br>
                <input type="submit" value="Go">
            </form>

        </div>


    </div>
</body>

</html>